@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #6320ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-gilroy: var(--font-gilroy);
  --font-aeonik: var(--font-aeonik);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1631;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}